.input{
    height: 2.6rem;
    font-size: 2.6rem;
    margin-top: 15px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-transform: uppercase;
}

.small{
    font-size: 1.8rem;
}

.extraSmall{
    font-size: 1.3rem;
}

.centerLetter{
    color: gold;
}

.toast{
    font-size: 1rem;
    padding: 6px;
    opacity: 0;
    font-weight: lighter;
    animation: fade 1.5s;
    text-transform: none;

}

@keyframes fade {
    0%,100% { opacity: 0 }
    30%,70% { opacity: 1 }
}