div#foundWords ul {
	text-align: left;
	list-style: none inside none;
	margin: 0;
	padding: 0;
}

#container{
	font-family: "Noto Serif", serif;
	text-align: center;
	width: 320px;
	max-height: 95%;
	max-width: 92%;
	margin: 20px auto 0 auto;
	display: flex;
	flex-direction: column;
	animation: fade-in 0.7s
}

@media screen and (max-width: 340px) {
	#container{
		width: 290px;
	}
}

@keyframes fade-in {
	0% {opacity: 0}
	100% {opacity: 1}
}