.foundWords {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.word{
    margin-right: 15px;
}

.button{
    margin-right: 15px;
    background-color: #ebebeb;
    border: solid 1px #cacaca;
}

.spin{
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {transform: rotate(0rad)}
    50%{transform: rotate(-180deg)}
    100%{transform: rotate(-360deg)}
}