.middle{
    background: gold;
}

.cell{
    user-select: none;
    display: flex;
    font-weight: bold;
    justify-content: center;
    box-sizing: border-box;
    border: solid 1px #ddd;
    width: 100px;
    height: 100px;
    align-items: center;
    transition: background 0.1s
}

@media screen and (max-width: 340px) {
    .cell{
        width: 92px;
        height: 92px;
    }

}