.letter{
    width: 100px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.foundWord {
    width: calc(100% / 3);
    animation: fadein 1s;
}

.foundHeader{
    min-height: 100px;
}

.letterCount{
    font-size: small;
    margin-left: 5px
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.container {
    padding-top: 15px;
    border-top: solid 1px #ddd;
    display: flex;
    flex-wrap: wrap;
}