.foundWord {
    width: calc(100% / 3);
    animation: fadein 1s;
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.container {
    padding-top: 15px;
    border-top: solid 1px #ddd;
    display: flex;
    flex-wrap: wrap;
}