.missedWord{
  font-style: italic;
}

.hiddenWord{
  background: #d2d2d26e;
  height: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.foundWord{
  animation: fadein 0.7s;
}

.word{
  margin-right: 17px;
}

@keyframes fadein {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}