.icon{
    cursor: pointer;
}


.top {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding-bottom: 5px;
}

.score{
    font-size: 2.1rem;
}

.hidden{
    opacity: 0;
}

.pointsAdded{
    opacity: 0;
    animation-name: fade-in-out;
    animation-duration: 1s;
}

.pointsAddedSize{
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 3px;
}

#topLeft{
    text-align: left;
}

#help{
    display: flex;
    align-items: flex-end
}


@keyframes fade-in-out {
    0%   {opacity: 0}
    40% {opacity: 1}
    60%   {opacity: 1}
    100% {opacity: 0}
}