.icon{
    cursor: pointer;
}


.top {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding-bottom: 5px;
}

.score{
    font-size: 2.1rem;
}

.hidden{
    opacity: 0;
}

.pointsAdded{
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 1s;
}

.pointsAddedSize{
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 3px;
}

#topLeft{
    text-align: left;
}

#help{
    display: flex;
    align-items: flex-end
}

.modal{
    width: 300px;
    max-width: 95%;
    border: solid 1px #aaa;
    background: white;
    margin: 15px auto auto;
    padding: 20px;
    box-shadow: 3px 3px 3px grey;
}

@keyframes fade-out {
    0%   {opacity: 0}
    40% {opacity: 1}
    60%   {opacity: 1}
    100% {opacity: 0}
}